#root {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.labelmaker {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.graph-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  flex-grow: 0;
  flex-basis: 50%;
  flex-direction: column;
  border-right: 8px solid var(--grid-color);
}
.label-container {
  vertical-align: top;
  flex-grow: 0;
  flex-basis: 50%;
}
