.graph {
  display: flex;
  flex-direction: column;
  grid-template-rows: auto;
  gap: calc(var(--grid-height) / 2);
  margin: 0;
  padding: 20px;
  background-size: var(--grid-height) var(--grid-height);
  background-blend-mode: overlay;
  background-image:
    linear-gradient(to right, var(--grid-color) 1px, var(--grid-background-color) 1px),
    linear-gradient(to bottom, var(--grid-color) 1px, var(--grid-background-color) 1px),
    radial-gradient(circle, var(--grid-color) 1px, var(--grid-background-color) 1px);
  flex-grow: 0;
  flex-basis: 100%;
}

.graph-element {
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
}