.graph {
  display: flex;
  flex-direction: column;
  grid-template-rows: auto;
  gap: 20px;
  margin: 0;
  padding: 20px;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px),
    radial-gradient(circle, var(--grid-color) 1px, transparent 1px);
  flex-grow: 0;
  flex-basis: 100%;
}

.graph-element {
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
}