.content {
  margin: 20px;
}

.type-options {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.type-content {
  margin-top: 10px;
  /* border: 1px solid black; */
}

.element-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.element-options>* {
  margin-right: 20px;
}

.element-content {
  margin-top: 10px;
  border-radius: 4px;
  overflow: hidden;
}

.element-content.stackpanel {
  --grid-color: white;
  --grid-background-color: rgba(0, 25, 71, 0.01);
  border-radius: 4px;
  border: 1px solid var(--border-light-color);
}
