:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-size: 1em;

  
  --color: #213547;
  --grid-color: rgb(244, 244, 244);

  --background-color: #ffffff;
  --element-background-color: #f9f9f9;
  --input-background-color: white;
  --grid-background-color: transparent;

  --positive-color: var(--color);
  --positive-background-color: rgb(192, 240, 213);

  --negative-color: white;
  --negative-background-color: rgb(255, 64, 64);
  
  --border-light-color: #d0dce6;
  --border-color: #4b657c;
  --border-focus-color: #213547;
  --negative-border-color: rgb(201, 44, 44);

  --grid-height: 30px;
  
  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid var(--border-color);
  /*padding: 0.6em 1.2em;*/
  padding: 0 1.2em;
  height: var(--grid-height);
  font-size: unset;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--element-background-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn-add {
  color: var(--positive-color);
  background-color: var(--positive-background-color);
}

.btn-cancel {
  color: var(--negative-color);
  background-color: var(--negative-background-color);
  border-color: var(--negative-border-color);
}

button:hover {
  border-color: var(--border-focus-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select {
  border-radius: 8px;
  border: 1px solid var(--border-color);
  /*padding: 0.6em 1.2em;*/
  padding: 0 1.2em;
  height: var(--grid-height);
  font-size: unset;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--element-background-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

select:hover {
  border-color: var(--border-focus-color);
}

select:focus,
select:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border-radius: 4px;
  border: 1px solid var(--border-color);
  /*padding: 0.6em 1.2em;*/
  padding: 0 1.2em;
  height: var(--grid-height);
  font-size: unset;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--input-background-color);
  transition: border-color 0.25s;
}

textarea {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  min-height: calc(2 * var(--grid-height));
  min-width: 100%;
  max-width: 100%;
  font-size: unset;
  font-weight: unset;
  font-family: unset;

}

@media (prefers-color-scheme: dark) {
  :root {
    --color: rgba(255, 255, 255, 0.87);
    --background-color: #242424;
    --element-background-color: #1a1a1a;
    --cancel-color: white;
    --cancel-background-color: red;

    --border-color: lightgray;
    --border-focus-color: white;
  }

  a:hover {
    color: #747bff;
  }

  input {
    background-color: white;
  }
}